<% closed_date = Setting.plugin_surv_admin_settings['closed_period_date'] %>
<p>
  <label for="settings_closed_period_date"><%= l(:label_surv_admin_settings_closed_period_date) %></label>
  <%= text_field_tag 'settings[closed_period_date]', closed_date, size: 12, type: 'date' %>
</p>


